/* Footer.css */
*{
  box-sizing: border-box;
}
.footer {
    background-color: #747f97; /* Semi-transparent black background */
    padding: 20px;
    text-align: center;
    color: rgb(250, 247, 247);
    position: relative;
    bottom: 0;
    width: 75%;
    left: 25%;
    
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
   
    align-items: center;
  }
  
  .footer p {
    margin: 10px 0;
    font-size: 14px;
  }
  
  .footer-button {
    background-color: rgba(97, 218, 251, 0.8); /* Semi-transparent button */
    border: none;
    padding: 10px 20px;
    color: #282c34;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .footer-button:hover {
    background-color: rgba(33, 161, 241, 0.8); /* Slightly darker on hover */
  }
  
  .social-media {
    margin-top: 15px;
  }
  
  .social-media a {
    margin: 0 10px;
    color: rgb(248, 244, 244);
    font-size: 20px;
    text-decoration: none;
  }
  
  .social-media a:hover {
    color: rgba(97, 218, 251, 0.8); /* Semi-transparent hover color */
  }
  